* {
    background-color: colors.$mainback-color;
    font-family: "Terminus", "courier new", monospace;
    color: colors.$main-color;
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
    box-sizing: content-box;
}

main {
    border: 3px solid colors.$border-color;
    padding: 5px;
    height: 100%;
    padding: 10px;
    margin: 15px;
    margin-left: 0;

}

li {
    list-style: none;
    padding: 5px;
}

a {
    padding: 0.2em 0.3em;

    &:hover {
        background-color: colors.$link-color;
        transition: background-color .5s;
    }
}

@media only screen and (min-width: 800px) {
    main {
        width: 70%;
    }
}