@use "../scss/_colors.scss";
@import "../scss/_text.scss";


.ASCIItitle {
    text-align: center;
}

.subtitel {
    text-align: center;
    font-size: .9rem;
}

.wrapper {
    margin: 1em;
}
.nav-tabs {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    margin-bottom: 3em;

    li {
        margin: 5px;
    }
}

.side-menu {
    border: 1px dotted colors.$border-color;
    padding: 1em;

    .side-menu-list {
        display: flex;
        gap: 2px;
    }
}


.welcome {
    .title-container {
        border: 1px dotted colors.$border-color;
        padding: 5px;
        .welcome-title {
            padding-bottom: 1rem;
            font-size: 1rem;
        }

        .welcome-subtitle {
            font-size: 14px;
        }
    }
}




@media only screen and (min-width: 800px) {
    .ASCIItitle {
        text-align: unset;
        font-size: 2.3vw;

    }

    .subtitel {
        text-align: unset;
        font-size: 1.5rem;
    }

    .nav-tabs {
        gap: 4.5em;
        justify-content: unset;
        font-size: 18px;
        margin-bottom: 0;
    }

    .welcome {
        .title-container {
            width: 70%;
            margin-left: 0;
            .welcome-title{
                font-size: 1.5rem;
            }
            .welcome-subtitle {
                font-size: unset;
            }
        }
    }


    .side-menu {
        right: 0;
        top: 29em;
        margin: 20px;
        position: fixed;
        .side-menu-list {
            flex-direction: column;
            gap: 10px;
        }

    }

}

@media only screen and (min-width: 900px) {
    .ASCIItitle {
        font-size: 1.5em;
    }
}