@font-face {
  font-family: NAME;
  src: url(PATH);
}
* {
  background-color: #0b110c;
  font-family: "Terminus", "courier new", monospace;
  color: #cbe9d1;
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  box-sizing: content-box;
}

main {
  border: 3px solid #d0ffd7;
  padding: 5px;
  height: 100%;
  padding: 10px;
  margin: 15px auto;
}

.commit-log-entry {
  margin: 5px;
}

summary {
  padding: 0.5em;
}

time {
  font-style: italic;
  margin: 5px;
}

li {
  list-style: none;
  padding: 5px;
}

a, button {
  padding: 0.2em 0.3em;
}
a:hover, button:hover {
  background-color: #274E30;
  transition: background-color 0.5s;
}

@media only screen and (min-width: 800px) {
  main {
    width: 70%;
    margin-left: 0;
  }
}
@font-face {
  font-family: NAME;
  src: url(PATH);
}
* {
  background-color: #0b110c;
  font-family: "Terminus", "courier new", monospace;
  color: #cbe9d1;
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  box-sizing: content-box;
}

main {
  border: 3px solid #d0ffd7;
  padding: 5px;
  height: 100%;
  padding: 10px;
  margin: 15px auto;
}

.commit-log-entry {
  margin: 5px;
}

summary {
  padding: 0.5em;
}

time {
  font-style: italic;
  margin: 5px;
}

li {
  list-style: none;
  padding: 5px;
}

a, button {
  padding: 0.2em 0.3em;
}
a:hover, button:hover {
  background-color: #274E30;
  transition: background-color 0.5s;
}

@media only screen and (min-width: 800px) {
  main {
    width: 70%;
    margin-left: 0;
  }
}
.burger {
  border: none;
  font-size: 25px;
  cursor: pointer;
  margin: 10px;
}

.ASCIItitle {
  text-align: center;
  font-size: 12px;
}

.subtitel {
  text-align: center;
  font-size: 0.9rem;
}

.wrapper {
  margin: 1em;
}

.nav-tabs {
  display: none;
  margin-left: 0;
  margin-bottom: 3em;
  gap: 1rem;
}
.nav-tabs li {
  margin: 5px;
}

.side-menu {
  border: 1px dotted #d0ffd7;
  padding: 1em;
  margin-bottom: 2em;
  display: none;
}
.side-menu .side-menu-list {
  display: flex;
  gap: 100px;
}

.welcome .title-container {
  border: 1px dotted #d0ffd7;
  padding: 5px;
  margin-bottom: 15px;
}
.welcome .title-container .welcome-title {
  padding-bottom: 1rem;
  font-size: 1rem;
}
.welcome .title-container .welcome-subtitle {
  font-size: 14px;
  margin-bottom: 10px;
}
.welcome .welcome_about_title {
  border: 1px dotted #d0ffd7;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgba(39, 78, 48, 0.3019607843);
}

.about .about-title {
  border: 1px dotted #d0ffd7;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgba(39, 78, 48, 0.3019607843);
}
.about .about-txt {
  margin: 5px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 800px) {
  .burger {
    display: none;
  }
  .ASCIItitle {
    text-align: unset;
    font-size: 2.3vw;
  }
  .subtitel {
    text-align: unset;
    font-size: 1.5rem;
  }
  .nav-tabs {
    display: flex;
    gap: 4.5em;
    justify-content: unset;
    font-size: 18px;
    margin-bottom: 0;
    flex-direction: unset;
  }
  .welcome .title-container {
    margin-left: 0;
  }
  .welcome .title-container .welcome-title {
    font-size: 1.5rem;
  }
  .welcome .title-container .welcome-subtitle {
    font-size: unset;
  }
  .side-menu {
    right: 0;
    top: 29em;
    margin: 20px;
    position: fixed;
    display: unset;
  }
  .side-menu .side-menu-list {
    flex-direction: column;
    gap: 10px;
  }
}
@media only screen and (min-width: 900px) {
  .ASCIItitle {
    font-size: 1.5em;
  }
}/*# sourceMappingURL=style.css.map */