@font-face {
  font-family: NAME;
  src: url(PATH);
}
* {
  background-color: #0b110c;
  font-family: "Terminus", "courier new", monospace;
  color: #cbe9d1;
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  box-sizing: content-box;
}
@keyframes details-show {
  from {
    opacity: 0;
    transform: var(--details-translate, translateY(-0.5em));
  }
}

details[open] > *:not(summary) {
  animation: details-show 300ms ease-in-out;
}
main {
  border: 3px solid #d0ffd7;
  padding: 5px;
  height: 100%;
  padding: 10px;
  margin: 15px auto;
}

summary {
  padding: 0.5em;
}

li {
  list-style: none;
  padding: 5px;
}

a,
button {
  padding: 0.2em 0.3em;
}
a:hover,
button:hover {
  background-color: #274e30;
  transition: background-color 0.5s;
}

@media only screen and (min-width: 800px) {
  main {
    width: 70%;
    margin-left: 0;
  }
}
.burger {
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0;
  margin-right: 0;
  display: flex;
  align-items: flex-end;
}

.ASCIItitle {
  text-align: center;
  font-size: 2vw;
  margin: 11px;
}

.subtitel {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  margin: 15px;
}

.wrapper {
  margin: 1em;
}

.nav-tabs {
  display: none;
  margin-left: 0;
  margin-bottom: 3em;
  gap: 1rem;
}
.nav-tabs li {
  margin: 5px;
}

.nav-tabs.open {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-right: 0;
  display: flex;
  align-items: flex-end;
}

.welcome .title-container {
  border: 1px dotted #d0ffd7;
  padding: 5px;
  margin-bottom: 15px;
}
.welcome .title-container .welcome-title {
  padding-bottom: 1rem;
  font-size: 1rem;
}
.welcome .title-container .welcome-subtitle {
  font-size: 14px;
  margin-bottom: 10px;
}
.welcome .welcome_about_title {
  border: 1px dotted #d0ffd7;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgba(39, 78, 48, 0.3019607843);
}

.about-title {
  border: 1px dotted #d0ffd7;
  margin-bottom: 10px;
  margin-top: 10px;
}
.about-title:hover {
  background-color: #274e30;
  transition: background-color 0.5s;
}
.about-summary {
  font-weight: bold;
  padding-left: 15px;
}
.about-txt {
  margin: 5px;
  margin-bottom: 10px;
}
.about-summary-title {
  font-size: 16px;
  padding-left: 30px;
}
.about-summary-list {
  padding-left: 30px;
}
.about-details {
  opacity: 1;
  transition: opacity 1s ease-in;
}

form {
  border: 1px dotted #d0ffd7;
  padding: 10px;
}

form p {
  text-align: center;
  margin: 10px;
}

form div {
  display: flex;
  align-items: center;
  padding: 10px;
}

label {
  width: 100px;
  font-weight: bold;
}

textarea {
  flex: 1;
  padding: 5px;
  height: 100px;
}

input[type="email"] {
  width: 100%;
  flex: 1;
  padding: 5px;
}

input[type="submit"] {
  display: flex;
  width: 90px;
  height: 30px;
}

#message {
  width: 100%;
}

.email-con,
.message-con {
  display: block;
}

@media only screen and (min-width: 800px) {
  .burger {
    display: none;
  }
  .ASCIItitle {
    text-align: unset;
    font-size: 2.3vw;
  }
  .nav-tabs {
    display: flex;
    gap: 4.5em;
    justify-content: unset;
    font-size: 18px;
    margin-bottom: 0;
    flex-direction: unset;
  }
  .welcome .title-container {
    margin-left: 0;
  }
  .welcome .title-container .welcome-title {
    font-size: 1.5rem;
  }
  .welcome .title-container .welcome-subtitle {
    font-size: unset;
  }
}
@media only screen and (min-width: 900px) {
  .ASCIItitle {
    font-size: 1vw;
  }
}

/*# sourceMappingURL=style.css.map */
