<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Forsiden" />
    <meta name="keywords"
        content="miljøbevidst, klimavenlig, bæredygtig, grøn, omstilling, miljø, venlige, produkter" />
    <title>Contact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/nav.js') }}" defer></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>

<body>
    <div class="wrapper">
        {% include 'components/header.html' %}
        <br>
        {% include 'components/nav.html' %}

        <main>
            <div class="content-container">
                <section class="about">
                    <details class="about-details" open>
                        <summary class="about-title">Contact</summary>
                        <h4 class="about-txt">
                            I’m always happy to connect, whether you want to share a project, ask a question, or
                            just say hi.
                        </h4>
                        <p class="about-txt">
                            If you’re into web development, sound experiments, and DIY creations, and want to give
                            or need feedback—or someone to help build your vision, I’d love to hear from you!
                        </p>
                        <p class="about-txt">
                            I’m also open to freelance or full‑time opportunities, so feel free to reach out!
                        </p>
                        <form 
                        hx-post="/contact"
                        hx-target="#form-response"
                        hx-swap="innerHTML"
                        hx-indicator="#spinner"
                        hx-on::after-request="this.reset()"
                        method="POST">
                            <div class="email-con">
                                <label for="email">Email:</label>
                                <input type="email" name="email" id="email" required />
                            </div>

                            <div class="message-con">
                                <label for="message">Message:</label>
                                <textarea name="message" id="message" required></textarea>
                            </div>
                            <input type="submit" value="Submit" />
                        </form>
                        <div id="form-response"></div>
                        <div id="spinner" class="htmx-indicator">Sending message...</div>
                        <details class="about-details">
                            <summary class="about-title">Links</summary>
                            <ul>
                                <li><a href="https://github.com/makulatorn" target="_blank">Github</a></li>
                                <li><a href="https://makulator.bandcamp.com/" target="_blank">Bandcamp</a></li>
                            </ul>
                        </details>
                    </details>
                </section>
            </div>
        </main>
    </div>
</body>

</html>